<h1>Signup!</h1>

<%= form_for @user do |f| %>
  <div class="field">
    <%= label_tag :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= label_tag :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= label_tag :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= label_tag :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= label_tag :remember_me %>
    <%= check_box_tag :remember_me, 1, params[:remember_me] %>
  </div>
  <%= f.submit "Create User" %>
<% end %>
